/* section {
    margin: 20px 0 20px 0;
}

.info-text {
    font-size: 1.1em;
}

.card {
    margin-bottom: 20px;
}
  
/*Logo*/

/* .pageloader {
    width: 100%;
    height: auto;
}

.spinner-loading-container {
    width: 100%;
    height: auto;
}  */

/* #pageloader {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#logo-container {
    display: inline-flex;
    flex-direction: column;
}
  
#mm-logo {
    width: 100%;
} */

